.nav_bar li {
    list-style: none;
}


body {
    background-color: #272727 !important;
    color: #ffffff;
    margin: 0;
    padding-top: 80px;
}

.nav_container {
    top: 0%;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: [col1-start]20% [col1-end col2-start] 80%[col2-end];

}

.nav_bar li a {
    color: #272727;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-weight: 800;

}

.nav_bar li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav_bar li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.nav_bar {
    grid-column-start: 2;
    background-color: #ffc426;
    /* border-radius: 0px 15px 15px 0px; */
    display: grid;
    padding: 2rem;
    margin: 0;
    justify-content: center;
    justify-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 100px [col-start]);
}

.nav_logo {
    display: grid;
    grid-column-start: 1;
    background-color: #272727;
    background: url(logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#li_1 {
    grid-column-start: 1;
}

#li_2 {
    grid-column-start: 2;
}

#li_3 {
    grid-column-start: 3;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(2, 50%[col-start]);
    justify-content: center;
    justify-items: center;
    font-weight: 800;
    font-size: 28px;

}

.footer_container {
    background: #ffc426;
    display: grid;
    padding: 50px;
    grid-template-columns: [col1-start]20% [col1-end col2-start] 40%[col2-end col3-start] 40%[col3-end];
    justify-content: center;
    justify-items: center;
    font-weight: 600;
    color: #272727;
    font-size: 16px;
    margin-top: 50px;

}

.footer_container a {
    text-decoration: none;
    color: #272727;
}

.f_card_2 {
    grid-column-start: 2;

}

.f_card_2 {}

.footer_container h3 {
    font-size: 20px;
}


.card_container div:hover {
    transition: 50ms ease-in;
    font-size: 32px;
}

.card_1 {
    grid-column-start: 1;
    background: url(movie.jpg);
    height: 600px;
    width: 60%;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px #3d3c3ab3;
    justify-items: center;
    display: grid;
    align-content: space-around;

}

.card_2 {
    grid-column-start: 2;
    background: url(duimpje.jpg);
    height: 600px;
    width: 60%;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px #3d3c3ab3;
    justify-items: center;
    display: grid;
    align-content: space-around;
}

.film_container {
    display: grid;
    grid-template-columns: [col1-start]15% [col1-end col2-start] 85%[col2-end];
}

.film_list {
    display: grid;
    grid-template-columns: repeat(3, 30% [col-start]);
    margin: 50px;
}

.film:hover {
    transition: 50ms ease-in;

    transform: scale(1.1);
}

.film {
    height: 450px;
    width: 300px;
    background: #3d3c3a1c;
    transition: 50ms ease-in;

}

.filter_list {
    grid-column-start: 1;
    margin-left: 5%;
}

.film img {
    width: 100%;
    height: 400px;
}

.film_info {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.filmpage_container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: [col1-start]35% [col1-end col2-start] 60%[col2-end];
    justify-items: center;
}

.filmpage_media img {
    width: 250px;
    height: 400px;
}

.aboutpage_media img {
    width: 100%;
    height: 400px;
}

.slider_container {
    z-index: 100;
}

.slider {
    background: url("movie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    margin-bottom: 100px;
}

.slider--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.knop a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    background-color: #27272763;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px#ffffff;
    transition: 0.5s;
}

.knop a:hover {
    background-color: #ffc426;
    color: #272727;
    border-color: #272727;
}

.checked {
    color: #ffc426;
}

.actors img {
    max-width: 100px;
    height: auto;
}

.actors p {
    color: white;
    text-decoration: none;
}

.add_form {
    display: flex;
    padding: 100px;
    justify-content: space-around;
}

#input {
    width: 35rem;
    height: 2rem;
    margin: 5px;
}

#submit {
    background-color: #ffc426;
    color: #272727;
    border-color: #272727;
    padding: 10px;
    border-radius: 10px;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(2, 50% [col-start]);
    justify-items: center;

}
.reviewcard {
    background-color: #ffc52642;
width: 200px;
height: 100px;
padding: 50px;
border-radius:10px ;
}
.regie img {
    max-width: 50px;
    height: auto;
}